<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>

<h2>{{ product.name }}</h2>

<img src="/static/uploads/product_images/{{ product.image }}" width="300"><br><br>

<p><strong>Description:</strong> {{ product.description }}</p>
<p><strong>Category:</strong> {{ product.category }}</p>
<p><strong>Price:</strong> ₹{{ product.price }}</p>

<br>
<a href="/user/products">Back to Products</a>
<a href="/user/add-to-cart/{{ product.product_id }}">Add to Cart</a>


</body>
</html>
